@import url('https://fonts.googleapis.com/css?family=Montserrat');

body {
  font-family: 'Montserrat', sans-serif;
  padding: 0px;
  margin: 0px;
  position: relative;
  min-height: 700px;
}

.wrap {
  height: 100vh;
}

#header {
  padding: 20px;
  background-color: #f09728;
  border-bottom: #a86308 solid 2px;
  color: #fff;
  font-size: 30px;
  text-align: center;
}

#footer {
  background-color: #f09728;
  border-top: #a86308 solid 2px;
  color: #fff;
  text-align: center;
  position: absolute;
  width: 100%;
  height: 70px;
  bottom: 0;
  z-index: -1;
}

.logo {
  text-align: center;
}

.sut_logo {
  width: 200px;
}

.submitButton {
  background-color: #f09728;
  border: 1px solid #a86308;
  padding: 4px;
  cursor: pointer;
}

.submitButton:hover {
  background-color: #fff;
}

.expand {
  border: none;
  background: transparent;
  cursor: pointer;
  color: black;
}

.login {
  width: 250px;
  margin-left: auto;
  margin-right: auto;
  padding: 10px;
  border: 2px solid #a86308;
  border-radius: 10px;
  color: #000;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.login .textBox {
  width: 240px;
}

.login #divButton {
  padding: 4px;
  text-align: right;
}

.stateMe {
  margin-right: 3px;
  width: 10px;
  height: 10px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 50%;
  background: springgreen;
}

.stateOther {
  margin-right: 3px;
  width: 10px;
  height: 10px;
  display: inline-block;
  box-sizing: border-box;
  border: 1px solid transparent;
  border-radius: 50%;
  background: springgreen;
}

.chatRoom {
  /* max-width: 650px; */
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid gray;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
}

.chatRoom .title {
  cursor: move;
  font-size: 16px;
  padding: 8px;
  background-color: #f09728;
  border-bottom: 1px solid #a86308;
}

.chatRoom .content {
  height: 300px;
  clear: both;
}

.chatRoom .content .chatWindow {
  float: left;
  width: 409px;
  height: 300px;
  border-right: 1px solid #a86308;
  overflow-y: scroll;
}

.chatRoom .content .chatWindow .message {
  padding: 4px;
}

.chatRoom .content .chatWindow .message .userName {
  font-weight: bold;
}

.chatRoom .content .users {
  background: white;
  float: right;
  width: 240px;
  height: 300px;
}

.chatRoom .content .users .user {
  display: block;
  cursor: pointer;
  padding: 4px;
  background-color: #f9f9f9;
  border-bottom: 1px solid #a86308;
}

.chatRoom .content .users .loginUser {
  background: white;
  display: block;
  padding: 4px;
  color: gray;
  border-bottom: solid 1px #a86308;
}

.chatRoom .content .users .user:hover {
  background-color: #e1e1e1;
}

.chatWindow {
  background: white;
  display: none;
}

.chatRoom .messageBar {
  background: white;
  display: none;
  border-top: 1px solid gray;
  padding: 4px;
}

.chatRoom .messageBar .textbox {
  width: 550px;
}

.disconnect {
  position: absolute;
  margin: 10px;
  background-color: #ffcbcb;
  padding: 4px;
  border: 1px solid rgba(255, 0, 0, 0.7);
}

.connect {
  position: absolute;
  margin: 10px;
  background-color: #a8ffd4;
  padding: 4px;
  border: 1px solid rgba(0, 255, 0, 0.7);
}

.draggable {
  position: absolute;
  border: #a86308 solid 1px !important;
  width: 272px;
  z-index: 999;
}

.draggable .header {
  cursor: move;
  background-color: #f09728;
  border-bottom: 1px solid #a86308;
  color: #000;
}

.draggable .selText {
  color: black;
  padding: 4px;
}

.draggable .messageArea {
  width: 272px;
  overflow-y: scroll;
  height: 200px;
  border-bottom: 1px solid #a86308;
}

.draggable .messageArea .message {
  padding: 4px;
}

.draggable .buttonBar {
  width: 272px;
  padding: 4px;
}

.draggable .buttonBar .msgText {
  width: 172px;
}

.draggable .buttonBar .button {
  margin-left: 4px;
  width: 76px;
}

.copyright {
  margin-top: 20px;
  text-align: center;
}
